* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

header h1 {
    font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

body {
    padding: 1rem;
    max-width: 120vh;
    background-color: transparent;
    color: white;
    /*background-image: url("/grain.svg");*/
    flex-direction: column;
}

html::after {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    z-index: -1;

    background: #0f0f0f;
    background-image: radial-gradient(
        circle at 20% 20%,
        #462afc2f 10%,
        #462afc2a 15%,
        #0f0f0f00 100%
    );

    /* Smooth fade-in animation on page load */
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    color: lightblue;
}

input[type="file"] {
    background: transparent;
}

header .logoContainer {
    transform: translateY(-20%);
}
header h1 {
    font-size: 3rem;
}

footer,
header {
    display: flex;
    justify-content: center;
    user-select: none;
}

.grow {
    flex-grow: 1;
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vh;
    flex-direction: column;
}

.main > *:last-child {
    margin-bottom: 5rem;
}

table {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-collapse: collapse;
    font-size: 1.4rem;
    border: 1px solid #00000022;
}
thead,
tbody,
tr {
    display: contents; /* Flatten so cells participate in the parent grid */
}
td {
    padding: 0 0.5rem;
    background: inherit;
}
td:last-child {
    text-align: right;
}
td.shrinkText {
    /*max-width: 4rem;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
thead tr {
    background-color: #777777aa;
    color: white;
    border-bottom: 1px solid #00000022;
}

tbody tr:nth-child(odd) {
    background-color: #77777733;
}
tbody tr:nth-child(even) {
    background-color: #77777766;
}

footer {
    text-align: center;
}
