* {
    box-sizing: border-box;

    font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
}

body {
    padding: 1rem;
    background-color: #eee;
    background-image: url("/grain.svg");
    flex-direction: column;
}

input[type="file"] {
    background: transparent;
}

header .logoContainer {
    transform: translateY(-20%);
}
header h1 {
    font-size: 3rem;
}

footer,
header {
    display: flex;
    justify-content: center;
    user-select: none;
}

.grow {
    flex-grow: 1;
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vh;
    flex-direction: column;
}

.main > *:last-child {
    margin-bottom: 5rem;
}

table {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-collapse: collapse;
    font-size: 1.4rem;
    border: 1px solid #00000022;
}
thead,
tbody,
tr {
    display: contents; /* Flatten so cells participate in the parent grid */
}
td {
    padding: 0 0.5rem;
    background: inherit;
}
td:last-child {
    text-align: right;
}
td.shrinkText {
    /*max-width: 4rem;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
thead tr {
    background-color: #323232;
    color: white;
    border-bottom: 1px solid #00000022;
}

tbody tr:nth-child(even) {
    background-color: #00000022;
}

footer {
    text-align: center;
}
